
<h2 style="text-align:center">GUITAR SHOP</h2>

<p class="contact">
    We use a blend of modern and traditional guitar-building techniques. CNC machines cut body and neck blanks.
    Most of the remaining work,from gluing binding and installing frets to spraying finishes, is completed by hand.
</p>     
<p class="contact" >
    Every step is performed by skilled crafts-people who care about building quality musical instrument parts,
    and who work hard to ensure that each neck and body we ship meets our standard of excellence.
</p>


<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="card-image" align="center">
    <figure class="is-2by3">
        <img src="~/images/Other/ForAboutUs.jpg" />
    </figure>
</div>



